.cell {
    height: 100px;
    width: 100px;
    background-color: #fff;
    color: black;
    outline: none;
    font-size: larger;
    border: 1px solid;
    transition: all 0.5s ease;
}

.cell:hover {
    background-color: #aaa;
}

.cell.winner{
    background-color: green;
}
